body {
    font-family: Monospace;
    background-color: linear-gradient(to bottom,#f8f0ff,#881dec);
    margin: 0;
    color:#3a2b4d;
}

nav {
    background-color: rgba(200,160,255,0.3);
    backdrop-filter:blur(10px);
    padding: 15px;
    text-align: center;
}

body{
margin: 0;
height: 100vh;
background: #c9d9e7;
overflow-y: auto;
position: relative;
}

@keyframes float {
    0% {transform: translateY(-50px) rotate(360deg);}
}

nav a {
    color: rgb(33, 7, 82);
    margin: 15px;
    text-decoration: none;
}

nav a:hover {
    color: orange;
}

h1 {
    text-align: center;
    font-size:50px;
    color: #5a3d99;
    letter-spacing:2px;
    text-shadow:0 0 10px rgba(178,102,0.4);
}
body{
     text-align: center;
    font-size:25px;
    color: #5a3d99;
    letter-spacing:2px;
    text-shadow:0 0 10px rgba(178,102,0.4);
}

body{
    background-color: #e4ddf1;
    background-image: repeating-linear-gradient(45deg,
    rgba(243, 159, 26, 0.05)0,
    rgba(255, 255, 255) 1px,
    transparent 1px
    transparent 20px
    ),
    repeating-linear-gradient(
        -45deg,
        rgba(255, 255, 0.5) 0,
        rgba (255, 255, 0.5) 1px,
        transparent 1px,
        transparent 20px
    );
    background-size: auto;
}

ul,ol{
    display: table;
    margin: auto;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    
}

footer{
    background: #333;
    color: #e6ccff;
    text-align: left;

}